<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Paul Mihai Gansca">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Not Just A To Do List</title>
    <%# Bootstrap core CSS %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <%# Icons %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/createList.css">
    

    <%# Script for copy %>
    <script src="/scripts/clipboard.min.js"></script>

</head>

<div class="container">
    <h1 class="text-center">Clipboard</h1>

    <form class="" action="/clipboard" method="post">
        <div class="form-row">
            <div class="col-8">
                <input type="text" name="content" class="form-control" placeholder="Content">
            </div>
            <div class="col">
                <input type="text" name="description" class="form-control" placeholder="Description">
            </div>
            <button type="submit" name="clipboard" value="<%= listTitle %>">Add</button>
        </div>
    </form>
<br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
                <th scope="col">Description</th>
            </tr>
        </thead>    
    <%let i=1; newListItems.forEach(elem => {  %>
        <tbody>
            <tr>
                <th scope="row"><%= i %></th>
                <td><%= elem.date %></td>
                <td> 
                <%= elem.clipboard %> 
                    <button class="btn" data-trigger="click" data-toggle="tooltip" data-placement="bottom" title="Copied" data-clipboard-text="<%= elem.clipboard %>">
                        <i class="fas fa-copy"></i>
                    </button>
                </td>
                <td><%= elem.description %></td>
                <form class="" action="/clipboard/delete" method="post">
                    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                    <td><button class="btn btn-link" type="submit" name="deleteButton" value="<%= elem._id %>"><i class="fas fa-trash-alt text-danger"></i></td>
                </form>
            </tr>
        </tbody>
    <% i+=1;}) %>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>